@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.menu-mobile {
    display: none;
}

a {
    color: #4c4c4c;
    text-decoration: none;
}

    /* -------------- header menu-bar Start here -------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 64px;
}

.logo {
    display: flex;
    height: 32px;
    align-items: center;
}

.logo strong {
    color: #4a4a4a;
}

.logo span {
    color: #9b9b9b;
}


.menubar-desktop ul {
    display: flex;
    list-style: none;
}

.menubar-desktop ul li {
    margin-left: 16px;
}

.menubar-desktop ul li a:hover {
    text-decoration: underline;
}
    /* -------------- header menu-bar End here -------------- */

    /* -------------- Sec.(1) Start here  -------------- */
.sec-hero {
    display: flex;
    background-color: #d8d8d8;
}

.content-hero-left {
    width: 60%;
    margin: 32px 24px;
}

.content-hero-left img {
    width: 100%;
}

.container-hero-right {
    display: flex;
    align-items: center;
}

.content-hero-right {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 80%;
}

.content-hero-right h2 {
    font-size: 3.4vw;
    font-weight: 700;
    color: #4a4a4a;
    margin-top: 30px;
}

.content-hero-right p {
    font-size: 1.9vw;
    font-weight: 500;
    color: #4a4a4a;
    padding-top: 1.5rem;
}

.content-hero-right button {
    padding: 8px 0;
    margin: 40px 0;
    background-color: #4a4a4a;
    color: #f6f6f6;
    font-size: 2vw;
    width: 80%;
}

.content-hero-right button:hover {
    background-color: black;
    cursor: pointer;
}
    /* -------------- Sec.(1) End here  -------------- */

    /* -------------- Sec.(2) Start here -------------- */
.sec-information {
    display: flex;
}

.infor-container-left {     /* --------- Left Container Start here --------- */
    width: 60%;
    margin: 0 24px;
}

.content-infor-img img {
    width: 100%;
    margin: 32px 0;
}

.infor-container-left h2 {
    margin-bottom: 24px;
    font-size: 2.9vw;
    color: #4a4a4a;
}

.infor-container-left p {
    margin-bottom: 32px;
    font-size: 1.36vw;
}

.infor-container-left span {
    font-weight: 600;
    color: #4a4a4a;
    /* border: 1px solid purple; */
}
/* --------- Left Container End here --------- */

.infor-container-right {    /* --------- Right Container Start here --------- */
    width: 40%;
    margin: 16px 0 32px 0;
}

.card-container-infor {
    display: flex;
    align-items: center;
    border: 1px solid #e0e2e2;
}

.card-container-infor:nth-child(3) {
    background-color: #d8d8d8;
}

.card-img-infor {
    padding: 16px;
    width: 35%;
    /* border: 3px solid purple; */
}

.card-img-infor img {
    width: 100%;
    height: auto;
}

.card-description-infor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.card-description-infor h4 {
    font-size: 1.6vw;
    color: #4a4a4a;
}

.card-description-infor p {
    margin: 8px 0;
    font-size: 1.31vw;
    font-weight: 500;
    color: #949595;
}

.card-description-infor a {
    font-size: 1.2vw;
    font-weight: 500;
    color: #618fdf;
}

.card-description-infor a:hover {
    text-decoration: underline;
}
/* --------- Right Container End here --------- */
              /* -------------- Sec.(2) End here -------------- */