@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.menu-mobile {
    display: none;
}

a {
    color: #4c4c4c;
    text-decoration: none;
}

    /* -------------- header menu-bar Start here -------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 64px;
}

.logo {
    display: flex;
    height: 32px;
    align-items: center;
}

.logo strong {
    color: #4a4a4a;
}

.logo span {
    color: #9b9b9b;
}


.menubar-desktop ul {
    display: flex;
    list-style: none;
}

.menubar-desktop ul li {
    margin-left: 16px;
}

.menubar-desktop ul li a:hover {
    text-decoration: underline;
}
    /* -------------- header menu-bar End here -------------- */

    /* -------------- Sec.(1) Start here  -------------- */
.sec-hero {
    display: flex;
    background-color: #d8d8d8;
}

.content-hero-left {
    width: 60%;
    margin: 32px 24px;
}

.content-hero-left img {
    width: 100%;
}

.container-hero-right {
    display: flex;
    align-items: center;
}

.content-hero-right {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 80%;
}

.content-hero-right h2 {
    font-size: 3.4vw;
    font-weight: 700;
    color: #4a4a4a;
    margin-top: 30px;
}

.content-hero-right p {
    font-size: 1.9vw;
    font-weight: 500;
    color: #4a4a4a;
    padding-top: 1.5rem;
}

.content-hero-right button {
    padding: 8px 0;
    margin: 40px 0;
    background-color: #4a4a4a;
    color: #f6f6f6;
    font-size: 2vw;
    width: 80%;
}

.content-hero-right button:hover {
    background-color: black;
    cursor: pointer;
}
    /* -------------- Sec.(1) End here  -------------- */

    /* -------------- Sec.(2) Start here -------------- */
.sec-information {
    display: flex;
}

.infor-container-left {     /* --------- Left Container Start here --------- */
    width: 60%;
    margin: 0 24px;
    margin-bottom: 32px;
}

.content-infor-img img {
    width: 100%;
    margin: 32px 0;
}

.infor-container-left h2 {
    margin-bottom: 24px;
    font-size: 2.9vw;
    color: #4a4a4a;
}

.infor-container-left p {
    margin-bottom: 32px;
    font-size: 1.37vw;
}

.infor-container-left span {
    font-weight: 600;
    color: #4a4a4a;
}
/* --------- Left Container End here --------- */

.infor-container-right {    /* --------- Right Container Start here --------- */
    width: 40%;
    margin: 16px 0 32px 0;
}

.card-container-infor {
    display: flex;
    align-items: center;
    border: 1px solid #e0e2e2;
}

.card-container-infor:nth-child(3) {
    background-color: #d8d8d8;
}

.card-img-infor {
    padding: 16px;
    width: 35%;
}

.card-img-infor img {
    width: 100%;
    height: auto;
}

.card-description-infor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.card-description-infor h4 {
    font-size: 1.6vw;
    color: #4a4a4a;
}

.card-description-infor p {
    margin: 8px 0;
    font-size: 1.31vw;
    font-weight: 500;
    color: #949595;
}

.card-description-infor a {
    font-size: 1.2vw;
    font-weight: 500;
    color: #618fdf;
}

.card-description-infor a:hover {
    text-decoration: underline;
}
/* --------- Right Container End here --------- */
    /* -------------- Sec.(2) End here -------------- */

.course {       /* -------------- Sec.(3) Start here -------------- */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 72px;
    background-color: #eaebec;
}

.course h2 {
    margin-bottom: 32px;
    color: #4a4a4a;
    font-size: 3.35vw;
}

.container-card-course {
    display: flex;
    flex-direction: column;
}

.card-course-sec1 {      /* ----- card sec1 ------*/
    display: flex;
}

.card-course {
    margin: 0 32px 32px 0;
    background-color: #fff;
    width: 100%;
}

.card-course img {
    width: 100%;
}

.card-description {
    margin: 16px 16px 24px 16px;
}

.card-description h4 {
    color: #4a4a4a;
    font-size: 1.45vw;
    font-weight: 600;
}

.card-description .p1 {
    padding: 8px 0;
    color: #595959;
}

.card-description .p2 {
    font-size: 1.27vw;
    color: #595959;
}

.card-course-sec2 {     /* ----- card sec2 ------*/
    display: flex;
}
    /* -------------- Sec.(3) End here -------------- */

.thesis {       /* ------------- Sec.(4) Start here-------------- */
    display: flex;
    flex-direction: column;
    padding: 32px 0 32px 24px;
}   

.thesis h2 {
    text-align: center;
    margin-bottom: 32px;
    color: #4a4a4a;
    font-size: 3.35vw;
}

.container-thesis {
    display: flex;
}

.content-thesis-left {      /*-- Container Thesis left Start here*/
    width: 60%;
    margin-right: 24px;
}

.content-thesis-left video {
    width: 100%;
    margin-bottom: 24px;
}

.head-thesis-left {
    color: #4a4a4a;
    font-size: 1.85vw;
    font-weight: 600;
    margin-bottom: 8px;
}

.description-thesis-left {
    font-size: 1.3vw;
}       /*-- Container Thesis left End here*/

.content-thesis-right {     /*-- Container Thesis Right Start here*/
    width: 40%;
}

.card-thesis-container {
    display: flex;
    flex-direction: row;
}

.card-thesis-container:nth-child(1) {
    background-color: #d8d8d8;
}

.card-thesis-container img {
    width: 35%;
    margin: 16px;
}

.card-description-thesis {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head-thesis-card {
    font-size: 1.7vw;
    color: #4a4a4a;
}

.card-description-thesis p {
    margin: 8px 0;
    font-size: 1.2vw;
    font-weight: 500;
    color: #595959;
}

.card-description-thesis span {
    font-size: 1.2vw;
    font-weight: 500;
    color: #595959;
}
    /* ------------- Sec.(4) Start here-------------- */

/* ---------- footer start herh --------- */
footer {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    padding: 16px 24px;
}

footer p {
    font-size: 1.15vw;
    color: #595959;
}

.footer a{
    margin-left: 16px;
    color: #595959;
    font-size: 1.15vw;
}       
    /* ---------- footer end herh --------- */