@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.menu-mobile {
    display: none;
}

a {
    color: #4c4c4c;
    text-decoration: none;
}

    /* -------------- header menu-bar Start here -------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 64px;
}

.logo {
    display: flex;
    height: 32px;
    align-items: center;
}

.logo strong {
    color: #4a4a4a;
}

.logo span {
    color: #9b9b9b;
}


.menubar-desktop ul {
    display: flex;
    list-style: none;
}

.menubar-desktop ul li {
    margin-left: 16px;
}

.menubar-desktop ul li a:hover {
    text-decoration: underline;
}
    /* -------------- header menu-bar End here -------------- */

    /* -------------- Sec.(1) Start here  -------------- */
.sec-hero {
    display: flex;
    background-color: #d8d8d8;
}

.content-hero-left {
    width: 60%;
    margin: 32px 24px;
}

.content-hero-left img {
    width: 100%;
}

.container-hero-right {
    display: flex;
    align-items: center;
}

.content-hero-right {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 80%;
}

.content-hero-right h2 {
    font-size: 3.4vw;
    font-weight: 700;
    color: #4a4a4a;
    margin-top: 30px;
}

.content-hero-right p {
    font-size: 1.8vw;
    font-weight: 600;
    color: #4a4a4a;
    padding-top: 1.5rem;
}

.content-hero-right button {
    padding: 8px 0;
    margin: 40px 0;
    background-color: #4a4a4a;
    color: #f6f6f6;
    font-size: 2vw;
    width: 80%;
}

.content-hero-right button:hover {
    background-color: black;
    cursor: pointer;
}
    /* -------------- Sec.(1) End here  -------------- */